@import 'tailwindcss/base.css';

@import 'tailwindcss/components.css';

@import 'tailwindcss/utilities.css';

html,
body,
#root {
  height: 100%;
}

@layer components {
  .frame {
    @apply text-indigo-800 border-indigo-800 border-2 rounded p-2;
  }

  .btn-green {
    @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-reset {
    @apply text-5xl bg-white border-current border-2 rounded p-2;
  }

  .disablable:disabled {
    @apply opacity-50;
  }
}
